.container {
    max-width: 120rem;
    min-height: 60rem;
    background-color: var(--color-gray-light-2);
    margin: 7rem auto;
    box-shadow: var(--box-shadow-primary);
    border-radius: var(--border-radius-primary);
}

.content {
    width: 100%;
    display: flex;
}


/* --dektop-big size */
@media screen and (max-width: 963px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .content {
        flex-direction: column;
    }
}